/*
Theme Nane: Bydes
Theme URl: www.bydes.com
Author: Ertuğrul Çakır
Author Url: www.bydes.com
Description: Bu site yenilikler için kurulmuştur
Version: 8.0
Tags: bydes,wordpress tema ertugrulcakir
*/